
.app-title{
        display: flex;
    justify-content: center;
    font-size: 50px;
}

.app-title::after{
    content: "App";
    color: darkorange;
    font-weight: 900;

}

.input-wrapper{
    font-size: 20px;
    font-weight: 700;
}

button{
    transition: transform .4s;
}

button:hover{

transform: scale(1.1);
} 

.result{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    display: flex;
    justify-content: center;
    margin-top: 12px;
}

